<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MemoryBoost</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="background-gradient">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MemoryBoost</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a type="button" class="btn btn-outline text-white" style="border-color: white;" asp-area="Identity" asp-page="/Account/Login">log in</a>
                }
                else
                {
                    <div id="profile-avatar"></div>
                }
            </div>
        </nav>
    </header>
    <div class="container d-flex justify-content-center container-f-buttons">
        @RenderBody()
        <div class="row align-self-center">
            <div class="col-4">
                <a class="btn btn-outline text-white" style="background-color: #59F9CC;">play</a>
            </div>
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="col-8">
                    <a class="btn btn-outline text-white" style="border-color: white;" asp-area="Identity" asp-page="/Account/Register">sign up</a>
                </div>
            }
            else
            {
                <div class="col-8">
                    <a class="btn btn-outline text-white" style="border-color: white;">start trainig</a>
                </div>
            }
        </div>
    </div>
    
    <footer class="footer text-muted">
        <div class="container">
            &copy; 2021 - MemoryBoost
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
