@using Microsoft.AspNetCore.Identity
@using MemoryBoost.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item profile-avatar d-flex justify-content-center mr-2" style="height: 100%;">
            <a class="align-self-center"> @User.Identity.Name.Substring(0, 1) </a>
        </li>
        <li class="nav-item">
            <form asp-area="" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="btn btn-lg btn-block btn-outline text-white px-5"
                   style="border-color: white; border-radius: 35px; font-size: 30px;">log out</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a type="button" class="btn btn-lg btn-block btn-outline text-white px-5" style="border-color: white; border-radius: 35px; font-size: 30px;" asp-area="Identity" asp-controller="Account" asp-action="Login">log in</a>
        </li>
    }
</ul>
