@model MemoryBoost.Models.Game


<div style="background-color: #59F9CC; color: #806CDD; border-radius: 35px; border: #806CDD solid 3px;"
     class="container d-flex flex-column w-50 h-50 align-self-center justify-content-center">
    <a class="btn font-weight-bold" style="font-size: 35px;">results</a>

    <a class="font-weight-bold mt-5"
       style="color: #806CDD; font-size: 30px;">time: @Model.Time</a>
    <a class="font-weight-bold mb-5"
       style="color: #806CDD; font-size: 30px;">points: @Model.Score</a>

    <a class="btn btn-outline font-weight-bold"
       asp-area="" asp-controller="GameLevels" asp-action="Index"
       style="border: #806CDD solid 3px; border-radius: 35px; color: #806CDD; font-size: 30px;">play again</a>
</div>

