@model IEnumerable<MemoryBoost.Models.GameLevel>

@{
    ViewData["Title"] = "Index";
}

<div style="background-color: #59F9CC; color: #806CDD; border-radius: 35px;"
     class="container d-flex flex-column w-50 h-50 align-self-center justify-content-center">
    <a class="btn btn-lg btn-block btn-outline font-weight-bold" style="font-size: 35px;">choose the level</a>
    @foreach (var item in Model)
    {

        <a class="btn btn-lg btn-block btn-outline font-weight-bold"
           style="border: #806CDD solid 3px; border-radius: 35px; font-size: 30px;">@Html.DisplayFor(modelItem => item.Name)</a>
    }
</div>


