@{
    ViewData["Title"] = "Home Page";
}

<div class="row align-self-center w-100" style="height: 20vh;">
    <div class="col-2"></div>
    <div class="col-3">
        <a class="btn btn-lg btn-block btn-outline text-white" style="background-color: #59F9CC; border-radius: 35px; font-size: 30px;">play</a>
    </div>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="col-5">
            <a class="btn btn-lg btn-block btn-outline text-white"
               style="border-color: white; border-radius: 35px; font-size: 30px;"
               asp-area="" asp-controller="Account" asp-action="Register">sign up</a>
        </div>
    }
    else
    {
        <div class="col-5">
            <a class="btn btn-lg btn-block btn-outline text-white"
               style="border-color: white; border-radius: 35px; font-size: 30px;">start trainig</a>
        </div>
    }
    <a asp-area="" asp-controller="GameMockup" asp-action="Index">fffffffffff</a>
    <div class="col-2"></div>
</div>

