@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@model MemoryBoost.Models.AccountViewModels.RegisterViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Register";
}

<section>
    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <h1 class="text-white text-center">@ViewData["Title"]</h1>
        <h4 class="text-white">Create a new account</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group text-white">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" style="border-radius: 35px;" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group text-white">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" style="border-radius: 35px;" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group text-white">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" style="border-radius: 35px;" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group text-white">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" style="border-radius: 35px;" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group d-flex justify-content-center">
            <button type="submit" class="btn btn-outline align-self-center text-white px-5"
                    style="border-color: white; border-radius: 35px; font-size: 20px;">
                Register
            </button>
        </div>
    </form>
</section>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
