@model MemoryBoost.Models.Training


<div style="background-color: #59F9CC; color: #806CDD; border-radius: 35px; border: #806CDD solid 3px;"
     class="container d-flex flex-column w-50 h-50 align-self-center justify-content-center">
    <a class="btn font-weight-bold" style="font-size: 35px;">results</a>

    @foreach (var item in Model.Games)
    {
        <a class="font-weight-bold mt-1"
           style="color: #806CDD; font-size: 30px;">round @item.NumInQueue</a>
        <a class="font-weight-bold mt-1"
           style="color: #806CDD; font-size: 30px;">level: @item.Level.Name</a>
        <a class="font-weight-bold mt-1"
           style="color: #806CDD; font-size: 30px;">time: @item.Time</a>
        <a class="font-weight-bold mb-1"
           style="color: #806CDD; font-size: 30px;">points: @item.Score</a>
    }

    <a class="btn btn-outline font-weight-bold"
       asp-area="" asp-controller="GameLevels" asp-action="Index"
       style="border: #806CDD solid 3px; border-radius: 35px; color: #806CDD; font-size: 30px;">play again</a>
</div>
